.navbar {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #73a8f9;
}


.btn-entrar {
    background-color: #0066FF;
    border: none;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    font-size: 20px;
}

.btn-entrar:hover {
    background-color: #004ec2;
}
